streamlit=1.54.0
langchain=1.2.10
langchain-ollama=1.0.1
langchain-chroma=1.1.0
langchain-community=0.4.1
chromad=1.5.1
rank-bm25=0.2.2
sentence-transformers=5.2.3
marker-pdf=1.10.2
pymupdf=1.27.1
pymupdf4llm=0.3.4
pydantic=2.12.5
pydantic-settings=2.13.1
httpx=0.28.1
pytest=9.0.2
